{% extends "base.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="row mt-5">
    <img src="{% static 'images/SignOut.svg' %}" class="img-fluid mt-5 col-md-6" alt="">
    <div class="d-flex flex-column justify-content-center pl-5 col-md-6">

        <h1 class="outfit-bold">{% trans "Sign Out" %}</h1>
        <p class="outfit-bold">{% trans 'Are you sure you want to sign out?' %}</p>
        {% url 'account_logout' as action_url %}
        {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}" />
        {% endif %}
        {% endslot %}
        {% slot actions %}
        <button type="submit" class="rounded bg-dark text-warning">
            {% trans 'Sign Out' %}
        </button>
        {% endslot %}
        {% endelement %}
    </div>
</div>
        {% endblock content %}
        