{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="mt-5 row">
    <img src="{% static 'images/ResetDone.svg' %}" class="img-fluid mt-5 col-md-6" alt="">
    <div class="d-flex flex-column justify-content-center outfit col-md-6">
        
        <h1 class="outfit-bold">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </p>
    </div>
</div>
{% endblock content %}
