{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="mt-5 row">
    <img src="{% static 'images/ResetDone.svg' %}" class="img-fluid mt-5 col-md-6" alt="">
    <div class="d-flex flex-column justify-content-center outfit col-md-6">
    {% element h1 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
            <button type="submit" class="rounded bg-dark text-warning">
                {% trans 'Change Password' %}
            </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
    </div>
</div>
{% endblock content %}
