/* Header */
/* .body{
    overflow: hidden;
} */

.hero-container{
    background: url(https://res.cloudinary.com/dyjmwwdzv/image/upload/v1701952429/static/images/salledesports.dd45abdd65e6.jpg)center center no-repeat ;
    background-size: cover;
    height: 80vh;
}
.hero-container.shrink{
    animation: shrink2 2s ease-in-out forwards;
}
.hero-container.normal-size {
    width: auto;  /* Normal width */
    height: 60vh;  /* Normal height */
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-top: 40px;
}
.bg-opacity{
    background: rgba(27,18,18,0.6);
}
.headline{
    font-size: 2.2rem;
    font-weight: 700;

}
.main-title h1, .main-title h2{
    font-size: 3.7rem;
}
.hero-character img{
    height:100%;
}

.title {
    opacity: 0;
    animation: slide-in 2s forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width:992px){
    .hero-character{
        display: none;
    }
}

/* End Header */

.title-font-size{
    font-size: 50px;
}
.content-font-size{
    font-size: 24px;
}
.border-radius{
    border-radius: 50%;
}
.border-radius-left{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 20%;
}
.border-radius-left-easy{
    border-radius: 20px 0 0 20px;
}
.border-radius-right{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 20%;
}
.height-section{
    height: 30vh;
}
.background-size{
    background-size: cover;
    background-position: right;
    width: 100%;
}
.partner-logo {
    height: 100px; /* Adjust as needed */
    width: auto; /* Adjust as needed */
    object-fit: cover;
  }
.partner-font-size{
        font-size: 16px;
  }

.card-news{
    width: 50%;
}

@media screen and (max-width:992px){
    .card-news{
        width: 100%;
    }
    .headline{
        display: none;
    }
}
