
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFDF2B;
    font-family: 'Outfit', sans-serif;
    font-weight: 400
}

.bg-dark{
    background-color: black !important;
}
.overlap{
    border-radius: 0px 20px 20px 20px;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}
.navbar{
    font-size: 24px ;
}

.navbar-nav > .nav-item > .nav-link {
    color: #fff;
    padding-top: 8px;
    
}
.active{
    background-color:#FFDF2B;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #737373;
}
.navbar-light .navbar-toggler {
    border-color: #FFDF2B;
}

/* Header */
.hero-container{
    display: flex;
    justify-content: space-between;
    height: 60vh;
    background: url(../images/salledesports.jpg)center center no-repeat ;
    background-size: 1500px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    margin-left: 100px;
    backdrop-filter:blur(4px);
    padding-top: 40px;
}
.title span{
    font-size: 32px;
}
.title p{
    font-size: 24px;
}
.hero-character{
    height: 100%;
    
}
.hero-character img{
    height: 100%;
}
.hero-container h1,h2{
    font-size: 64px;
    text-shadow: 0px 6px 1px black;;
    font-weight: 900;
}

@media screen and (min-width:992px){
    .navbar{
        height: 50px;
    }
    .active{
        border-radius: 0px 0px 20px 20px;
    }
}
@media screen and (max-width:992px){
    .overlap{
        margin-top: 0px;
    }
    .title{
        margin-left: 40px;
    }
    .hero-character{
        display: none;
    }
}