{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block header %}

<header class="mt-5 text-center text-light d-flex flex-column align-items-end">
    <div class="title-container">
        <h1 class="mb-5 bg-dark pr-5 p-2 slide-in text-uppercase">{% trans "Bookings" %}</h1>
    </div>
    
</header>

{% endblock %}


{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if forloop.last %}
            <div{% if message.tags %} class="{{ message.tags }} bg-info text-light w-50 ml-5 rounded mb-3 p-2"{% endif %}>{{ message }}</div>
          {% endif %}
    {% endfor %}
    </div>
{% endif %}
<div class="row mx-auto">
    
    <div class="mx-auto col-12 col-lg-3">
        
        <ul class="list-group mt-3">
            <li class="list-group-item bg-warning border-dark">{%trans "Classes" %}</li>
            <li class="list-group-item bg-primary border-dark">{%trans "Your Private Sessions awaiting approval"%}</li>
            <li class="list-group-item bg-success border-dark">{%trans "Your Approved Private Sessions" %}</li>
            <li class="list-group-item bg-danger border-dark">{% trans "Other's Private Sessions" %}</li>
            <li class="list-group-item bg-secondary border-dark">{%trans "Unavailabilities" %}</li>
        </ul>
        <div class=" mt-5">
            <h3 class="text-center">{%trans "How to use the calendar" %}</h3>
            <p><strong>{% trans "Important " %}</strong>{% trans "Before booking a private session, please make sure to contact the coach first." %}</p>
            <p>{% trans "To join a class, click on the class you want to join." %}</p>
            <p>{% trans "To book a private session, click on the time you wish to book your session." %}</p>
            <p>{% trans "You can check the details of an event , by clicking on it." %}</p>
        </div>
    </div>
    <div id="calendar" class="col-12 col-lg-8 bg-dark text-warning mx-auto p-5 rounded-lg"></div> 
</div>

<div id="choiceModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog bg-dark">
        <div class="modal-content w-100 bg-dark text-light">
            <div class="bg-dark w-100 modal-header">
                <h1 class="modal-title">{% trans 'Choose an action' %}</h1>
                <button id="closeModal" class="p-2 rounded bg-danger text-light">X</button>
            </div>
            <div class="modal-body w-100 bg-warning d-flex justify-content-between">
                <button id="createCourse" class="rounded bg-dark text-light shadow-lg">{% trans 'Create Course' %}</button>
                <button id="createUnavailablePeriod" class="rounded bg-dark text-light shadow-lg">{% trans 'Add Unavailable Period' %}</button>
                <button id="createPrivateSession" class="rounded bg-dark text-light shadow-lg">{% trans 'Create Private Session' %}</button>
            </div>
            <span id="modalDate" class="text-light"></span>
        </div>
    </div>
</div>
{%endblock%}
{% block extra_js %}
<script src='https://unpkg.com/fullcalendar@5.10.1/main.min.js'></script>
<script src='https://unpkg.com/fullcalendar@5.10.1/locales-all.min.js'></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
   window.userIsSuperuser = {{ is_superuser|yesno:"true,false" }};
</script>
<script type="text/javascript">
    window.LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
</script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}
