{% extends 'base.html' %}
{% load static %}
{% block header %}

<header class="mt-5 d-flex justify-content-center">
    <h1>BOOKINGS</h1>
</header>

{% endblock %}


{% block content %}
<div id="calendar" class="bg-dark text-warning m-5 p-5 rounded-lg"></div> 
{%endblock%}
{% block extra_js %}
<script type="text/javascript">
   window.userIsSuperuser = {{ is_superuser|yesno:"true,false" }};
    console.log(userIsSuperuser);
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
