{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="d-flex mt-5 justify-content-end">
    <h1 class="h1 slide-in">
        <span class="text-light bg-dark shadow-lg px-2 rounded-bottom text-uppercase pr-3">{% trans "Contact me " %}</span>
    </h1>
</div>
<div class="row">
    <div class="col-lg-3 mt-3 ml-5 pr-0 bg-dark text-light h-25 rounded">
        <h2 class="py-5">Feel free to contact me</h2>
        <p>If you have any questions regarding the courses, the private sessions or anything else! </p>
    </div>
    <form method="post" class="mx-auto mt-5 col-10 col-lg-6 col-md-6 p-0">
        {% csrf_token %}
        <div class="form-group d-flex flex-column">
            <label for="{{ form.name.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Name</label>
            {{ form.name }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.email.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Email</label>
            {{ form.email }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.subject.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Subject</label>
            {{ form.subject }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.message.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Message</label>
            {{ form.message }}  <!-- Renders the field -->
        </div>
        <button type="submit">Send</button>
    </form>
</div>
    
    {% endblock %}