{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST" action="{% url 'update_course' event.id %}">
    {% csrf_token %}
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="{{event.name}}"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description">{{event.description}}</textarea><br>
    <label for="start_time">Start Time:</label><br>
    <input type="datetime-local" id="start_time" name="start_time" value="{% if event.start_time %}{{ event.start_time|date:'Y-m-d\TH:i' }}{% endif %}"><br>
    <label for="end_time">End Time:</label><br>
    <input type="datetime-local" id="end_time" name="end_time" value="{{ event.end_time|date:'Y-m-d\TH:i' }}"><br>
    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location" value="{{event.location}}"><br>
    <label for="type">Type:</label><br>
    <select type="text" id="type" name="type" value="{{event.type}}">
        <option value="0">Strength</option>
        <option value="1">Running</option>
        <option value="2">Stretch</option>
    </select><br>
    <label for="max_participants" >Max Participants:</label><br>
    <input type="number" id="max_participants" name="max_participants" value="{{event.max_participants}}"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
