{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST" action="{% url 'event_create' %}">
    {% csrf_token %}
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>
    <label for="start_time">Start Time:</label><br>
    <input type="datetime-local" id="start_time" name="start_time"><br>
    <label for="end_time">End Time:</label><br>
    <input type="datetime-local" id="end_time" name="end_time"><br>
    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location"><br>
    <label for="type">Type:</label><br>
    <select type="text" id="type" name="type">
        <option value="0">Strength</option>
        <option value="1">Running</option>
        <option value="2">Stretch</option>
    </select><br>
    <label for="max_participants">Max Participants:</label><br>
    <input type="number" id="max_participants" name="max_participants"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}