{% extends 'base.html' %}
{% load static %}
{% load i18n %}  <!-- Load the internationalization tag library -->
{% block content %}
  <div class="event-container d-flex flex-column justify-content-center ">
    {% if course %}
    <div class="card">
      <div class="">
        <div class="card-content mx-auto d-flex flex-column justify-content-between">
          <div class="d-flex justify-content-end">
            <h1 class="text-uppercase"><span class="text-light bg-dark shadow-lg px-2 rounded-bottom">{{ course.name }}</span></h1>
          </div>
          <div>

            <div class="d-flex justify-content-between mt-5">
              <div>
                <p class="bg-dark text-light pl-1 pr-3 ">{% trans "Start Time" %}: {{ course.start_time }}</p>
                <p class="bg-dark text-light pl-1 pr-3 ">{% trans "End Time" %}: {{ course.end_time }}</p>
              </div>
              <div>
                <p class="bg-dark text-light pl-1 pr-3">{% trans "Location" %}: {{ course.location }}</p>
                <p class="bg-dark text-light pl-1 pr-3">{% trans "Created by" %}: {{course.user}}</p>
              </div>
            </div>
            <div>
              <p class="bg-dark text-light pl-1 pr-3">{{course.participants.count}}/{{course.max_participants}} participants  </p>
              <p class="bg-dark text-light pl-1 pr-3">{% trans "Description" %}: {{ course.description }}</p>
            </div>
            </div>
          </div>
      </div>
  </div>
  <div class="d-flex justify-content-center bg-dark p-2">
  {% if not request.user.is_superuser %}
  <form method="POST" action="{% url 'join_course' slug=course.slug %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mx-auto" id="join-button" data-course-id="{{ course.slug }}">{% trans "Join" %}</button>
    </form>
  {% endif %}
        {% if request.user.is_superuser %}
          <a href="{% url 'update_course' course.id %}" class="btn btn-primary w-25 mx-auto">{% trans "Update" %}</a>
          <button type="button" class="btn btn-danger w-25 mx-auto" data-toggle="modal" data-target="#deleteModal">{% trans "Delete" %}</a>         
            {% endif %}
          </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">{% trans "Delete Course" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% trans "Are you sure you want to delete this course ?" %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form method="POST" action="{% url 'delete_course' course.id %}">
                      {% csrf_token %}
                      <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger">
                    </form>
                  </div>
                </div>
              </div>
            </div>
  <div class="d-flex flex-column bg-dark text-light p-2 justify-content-center">
    <p>{% trans "Participants" %}:</p>
    <ul>
    {% for participant in course.participants.all %}
        <li>{{ participant.username }}</li>
    {% endfor %}
  </ul>
</div>
</div>
{% elif private_session %}
<div class="card">
    <div class="">
      <div class="card-content mx-auto d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-end">
          <h1 class="text-uppercase"><span class="text-light bg-dark shadow-lg px-2 rounded-bottom">{% trans "Private Session " %}:{{ private_session.name }}</span></h1>
        </div>
        <div>

          <div class="d-flex justify-content-between mt-5">
            <div>
              <p class="bg-dark text-light pl-1 pr-3 ">{% trans "Start Time" %}: {{ private_session.start_time }}</p>
              <p class="bg-dark text-light pl-1 pr-3 ">{% trans "End Time" %}: {{ private_session.end_time }}</p>
            </div>
            <div>
              <p class="bg-dark text-light pl-1 pr-3 ">{% trans "Location" %}: {{ private_session.location }}</p>
              <p class="bg-dark text-light pl-1 pr-3 ">{% trans "Created by" %}: {{private_session.user}}</p>
            </div>
          </div>
          <div>
            <p class="bg-dark text-light pl-1 pr-3">{% trans "Description" %}: {{ private_session.description }}</p>
          </div>
        </div>
        </div>
    </div>
    {% if request.user.is_superuser and not private_session.is_approved %}
    <div class="d-flex justify-content-center bg-dark p-2">
    <form method="POST" action="{% url 'approve_private_session' private_session.slug %}">
        {% csrf_token %}
        <input type="submit" value="{%trans 'Approve' %}">
    </form>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
      {% trans 'Delete' %}
    </button>
    </div>
{% endif %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{% trans 'Delete Private Session' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{% url 'delete_private_session' private_session.slug %}">
        {% csrf_token %}
        <div class="modal-body">
          <p>{% trans 'Are you sure you want to delete this private session?' %}</p>
          <textarea name="message" class="form-control" placeholder="{% trans 'Enter your custom message here' %}"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
          <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% else %}
<div class="alert alert-danger mt-4" role="alert">
    {% trans "You don't have permission to access this session." %}
</div>
<a href=" {% url 'bookings' %}" class="btn btn-primary mt-2">{% trans "Return to Bookings." %}</a>
{% endif %}

{% if messages %}
<div class="messages mt-5">
    {% for message in messages %}
        {% if forloop.last %}
        <div{% if message.tags %} class="{{ message.tags }} bg-info text-light w-50 mx-auto text-center mt-5 rounded mb-3 p-2"{% endif %}>{{ message }}</div>
      {% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/join_course.js' %}"></script>
{% endblock %}