{% extends 'base.html' %}
{% load static %}
{% load i18n %}  <!-- Load the internationalization tag library -->
{% block content %}
{% if request.user.is_superuser %}
<div class="d-flex mt-5 justify-content-end">
    <h1 class="h1 slide-in">
        <span class="text-light bg-dark shadow-lg px-2 rounded-bottom text-uppercase pr-3">{% trans "Create a course" %}</span>
    </h1>
</div>
{% else %}
<div class="d-flex mt-5 justify-content-end">
    <h1 class="h1 slide-in">
        <span class="text-light bg-dark shadow-lg px-2 rounded-bottom text-uppercase pr-3">{% trans "Create a private session" %}</span>
    </h1>
</div>
{% endif %}
<form method="POST" class="form container d-flex flex-column mt-5 rounded-lg" action="{% url 'event_create' %}?date={{ request.GET.date }}&type={{ request.GET.type }}">
    {% csrf_token %}

 {% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if forloop.last %}
            <div{% if message.tags %} class="{{ message.tags }} bg-info text-light w-50 ml-5 rounded mb-3 p-2"{% endif %}>{{ message }}</div>
          {% endif %}
    {% endfor %}
    </div>
{% endif %}
    {% if request.user.is_superuser %}
    <div class="form-container bg-warning rounded mb-5 p-3">
        
        <div class="form-group d-flex flex-column">
            <label for="{{ form.name.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Name</label>
            {{ form.name }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.description.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Description</label>
            {{ form.description }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.start_time.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Start time</label>
            {{ form.start_time }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.end_time.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">End time</label>
            {{ form.end_time }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.location.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Location</label>
            {{ form.location }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.max_participants.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Max Participants</label>
            {{ form.max_participants }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.is_recurrent.id_for_label }}" class="bg-dark text-light mr-auto text-left px-2 text-uppercase">Is Recurrent</label>
            {{ form.is_recurrent }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.day_of_week.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Day of Week</label>
            {{ form.day_of_week }}  <!-- Renders the field -->
        </div>
    <button type="submit" class="bg-warning rounded w-25 mx-auto">{% trans "Add" %}</button>
    
    {% else %}
    <div class="form-container bg-warning rounded mb-5 p-3">
        
        <div class="form-group d-flex flex-column">
            <label for="{{ form.name.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Name</label>
            {{ form.name }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.description.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Description</label>
            {{ form.description }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.start_time.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Start time</label>
            {{ form.start_time }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.end_time.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">End time</label>
            {{ form.end_time }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.location.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Location</label>
            {{ form.location }}  <!-- Renders the field -->
        </div>
        <div class="form-group d-flex flex-column">
            <label for="{{ form.type.id_for_label }}" class="bg-dark text-light mr-auto px-2 text-uppercase">Type</label>
            {{ form.type }}  <!-- Renders the field -->
        </div>
    <button type="submit" class="bg-warning rounded w-25 mx-auto">{% trans "Add" %}</button>
    {% endif %}
</form>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/retrieve_date.js' %}"></script>
{% endblock %}