{% extends 'base.html' %}
{% load static %}
{% load i18n %}  <!-- Load the internationalization tag library -->
{% block content %}
  <div class="container mt-4">
    {% if course %}
      <div class="card mt-4">
        <div class="d-flex flex-column m-4 ">
            <h2 class="text-center m-2">{{ course.name }}</h2>
            <p class="card-text text-center m-2">{{ course.description }}</p>
          <div class="d-flex justify-content-between">
            <div class="hours d-flex justify-content-between m-2">
              <p class="px-2">{% trans "Start" %}: {{ course.start_time }}</p>
              <p class="px-2">{% trans "End" %}: {{ course.end_time }}</p>
            </div>
            <p class="px-2">{% trans "Number of Participants" %}: {{ course.participants.count }} / {{ course.max_participants}}</p>
            <p class="px-2">{% trans "Location" %}: {{ course.location }}</p>
          </div>
        </div>
        <button class="w-25 mx-auto" id="join-button" data-course-id="{{course.id}}">{% trans "Join" %}</button>
        {% if request.user.is_superuser %}
          <a href="{% url 'update_course' course.id %}" class="btn btn-primary w-25 mx-auto">{% trans "Update" %}</a>
          <a href="{% url 'delete_course' course.id %}" class="btn btn-danger w-25 mx-auto" onclick="return confirm('{% trans "Are you sure you want to delete this course?" %}')">{% trans "Delete" %}</a>
        {% endif %}
    <p>{% trans "Participants" %}:</p>
    <ul>
    {% for participant in course.participants.all %}
        <li>{{ participant.username }}</li>
    {% endfor %}
  </ul>
</div>
{% elif private_session %}
<div class="card mt-4">
    <div class="card-body">
        <h2 class="card-title">{{ private_session.name }}</h2>
        <p class="card-text">{{ private_session.description }}</p>
        <p>{% trans "Start Time" %}: {{ private_session.start_time }}</p>
        <p>{% trans "End Time" %}: {{ private_session.end_time }}</p>
        <p>{% trans "Location" %}: {{ private_session.location }}</p>
    </div>
</div>
{% else %}
<div class="alert alert-danger mt-4" role="alert">
    {% trans "You don't have permission to access this session." %}
</div>
<a href=" {% url 'bookings' %}" class="btn btn-primary mt-2">{% trans "Return to Bookings." %}</a>
{% endif %}
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/join_course.js' %}"></script>
{% endblock %}