{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block header %}
<header> 
    <div class="d-flex mt-5 justify-content-end">
        <h1 class="h1 slide-in outfit-bold">
            <span class="text-light bg-dark shadow-lg px-2 rounded-bottom text-uppercase pr-5">{% trans "News" %}</span>
        </h1>
    </div>
</header>
{% endblock %}
{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if forloop.last %}
            <div{% if message.tags %} class="{{ message.tags }} bg-info text-light w-50 ml-5 rounded mb-3 p-2"{% endif %}>{{ message }}</div>
          {% endif %}
    {% endfor %}
    </div>
{% endif %}
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list%}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body d-flex flex-column-reverse p-0 post-image" style="{% if post.featured_image %}background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('{{ post.featured_image.url }}'); background-position: center; background-size: cover;{% endif %}">
                                <div class="card-details">

                                    <a href="{% url 'news_details' post.slug %}" class="post-link ">
                                        {% if post.title %} <!-- Add this line -->
                                        <h2 class="card-title pl-2 outfit-bold text-uppercase dynamic-font-size">{{post.title}}</h2>
                                        {% endif %}
                                        <p class="card-text">{{post.excerpt}}</p>
                                    </a>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text h6 pl-2 text-light small">{{post.created_on}} </p>
                                        <p class="bg-light pr-3 pl-2 likes-container d-flex justify-content-between"><i class="fas fa-heart likes"></i>{{post.number_of_likes}}</p>
                                    </div>
                                        <div class="image-flash">
                                            <p class="author pl-2">{%trans "Author:" %} {{post.author}}</p>
                                        </div>
                                    </div>
                                
                                    
                        </div>
                    </div>
                </div>
                    {% if forloop.counter|divisibleby:3%}
                    </div>
                    <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;{% trans " PREV " %}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> {% trans "NEXT"%} &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <div class="row">
        {% if user.is_superuser %}
        <a href="{% url 'add_news' %}" class="mx-auto">
            <button class="btn btn-primary ">{%trans "Add News" %}</button>
        </a>
        {% endif %}
    </div>
</div>

{%endblock%}
{% block extra_js %}
<script src="{% static 'js/dynamicFont.js' %}"></script>
{% endblock %}
```