{% extends 'base.html' %} 
{% load i18n %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead-container">
    <div class="container">
        <div class="masthead col-12 d-flex flex-column justify-content-end {% if not post.image.url %}default-image{% endif %} data-image-url="{{post.image.url}}">
                <h1 class="post-title card-title">{{ post.title }}</h1>
                <p class="post-subtitle card-text">{{ post.author }} | {{ post.created_on }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card ml-3 mr-3 mt-3">
            <div class="card-content">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <!-- The number of likes goes before the closing strong tag -->
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row ml-2 mr-2">
        <div class="comments-container col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="comments-body mb-3">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">{{ comment.name }}
                        <span class=" text-muted font-weight-normal">{{ comment.created_on }} </span>{% trans "wrote :" %}</p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    {% trans "Your comment is awaiting approval" %}
                </div>
                {% else %}
                
                {% if user.is_authenticated %}

                <h3>{% trans "Leave a comment:"%}</h3>
                <p>{% trans "Posting as :"%}{{user.username}}</p>
                <form method="post">
                    {{comment_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-signup btn-lg">{% trans "Submit"%}</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
