{% load static %}
{% load i18n %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/LogoNoText.png' %}"  class="overlap" height="150" alt="">
    </a>
    <button class="navbar-toggler text-warning" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#FFDF2B; font-size:28px;"></i></span>
    </button>
    <div class="collapse navbar-collapse lg-10 justify-content-around" id="navbarNav">
      <ul class="navbar-nav col-lg-10 justify-content-around">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">{% trans 'Home' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/news/' %}active{% endif %}" href="{% url 'news' %}">{% trans 'News' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/bookings/' %}active{% endif %}" href="{% url 'bookings' %}">{% trans 'Bookings' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
        